services:
  - type: web
    name: transcriptai-sk
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: "10000"
      - key: RENDER
        value: "true"
      - key: PYTHON_VERSION
        value: "3.11.0"
